<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="a9bc7abb-4f04-442d-b727-25e001ca7da6"
            Publisher="CN=shalave"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>OANDA API</DisplayName>
    <PublisherDisplayName>shalave</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="TradingApp2.App">
        <VisualElements
            DisplayName="OANDA API"
            Logo="Assets\icon.png"
            SmallLogo="Assets\icon.png"
            Description="OANDA API"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>